doctype html
html
    head
      meta(charset='UTF-8')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      title= title
      link(rel='stylesheet' type="text/css" href='/style.css')
    body
      <h1 style="margin: 20px">Test de l'api watchlist</h1>

      <div class="listeBoutons">
        <a class="bouton" href="/views/creerUtilisateur">Créer un utilisateur</a>
        <a class="bouton" href="/views/ajouterItemRegistre">Ajouter un item au registre</a>
        <a class="bouton" href="/views/creerWatchlistUtilisateur">Créer une watchlist pour un utilisateur</a>
        <a class="bouton" href="/views/ajouterItemWatchlist">Ajouter un item dans une watchlist</a>
        <a class="bouton" href="/views/modifierStatutWathchlistItem">Modifier le statut d'un item dans une watchlist</a>
        <a class="bouton" href="/views/rechercherItemRegistre">Afficher les items du registre (avec possibilité de filtrer)</a>
        <a class="bouton" href="/utilisateurs">Récupérer la liste des utilisateurs</a>
        <a class="bouton" href="/views/rechercherWatchlistUtilisateur">Récupérer la liste des watchlists d'un utilisateur</a>
        <a class="bouton" href="/views/rechercherContenuWatchlist">Récupérer le contenu d'une watchlist</a>
        <a class="bouton" href="/views/modifierUtilisateur">Modifier les informations personnelles d'un utilisateur</a>
      </div>
