doctype html
html
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      title= title
      link(rel='stylesheet' type="text/css" href='/style.css')
    body
      <h1 style="padding: 20px">Rechercher le contenu de la watchlist</h1>

      <form action="/watchlistsItems/contenu" method="get">
       <div>
         <label>Identifiant de la watchlist : </label>
         <input type="text" name="idWatchlist">
       </div>
       <input class="bouton" style="width: 250px" type="submit" value="Rechercher">
      </form>

