doctype html
html
    head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      meta(http-equiv='X-UA-Compatible' content='ie=edge')
      title= title
      link(rel='stylesheet' type="text/css" href='/style.css')
      <script src="/watchlist.js"></script>
    body
      <h1 style="padding: 20px">Rechercher les watchlists pour un utilisateur</h1>

      <form id="formulaire" action="/watchlists" method="get">
       <div>
         <label for="idUtilisateur">Id de l'utilisateur</label>
         <input type="text" name="idUtilisateur" id="idUtilisateur" required>
       </div>
       <input class="bouton" style="width: 250px"  onClick="rechercherWatchlist()" value="Rechercher">
      </form>

